body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    background-color: rgba(245, 224, 207, 0.2);
    text-align: center;
}
form {
    text-align: center;
}
input {
    font-size: 16pt;
    height: 40px;
    width: 250px;
    border-radius: 5px;
}
input[type='submit'] {
    background-color: #624b3d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}